body {
    font-family: Arial, Helvetica, sans-serif;
    
}

/*Efeito Zebrado*/

tbody > tr:nth-child(odd) {
    background-color: lightgray;
}
tbody > tr:nth-child(even) {
    background-color: white(62, 108, 74, 0.54);
}

table {
    width: 500px;
    border-collapse: collapse;
    margin-bottom: 30px;
    position: relative;
}

td,
th {
    border: 1px solid rgb(66, 60, 60);
    text-align: center;
    padding: 10px;
}

thead {
    background-color: rgba(14, 9, 9, 0.746);
    color: white;
}

thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: rgba(18, 1, 1, 0.817);
}

tfoot{
    background-color: rgba(82, 74, 74, 0.588);
}


td.num {
    text-align: right;

}

td.nome {
    text-align: left;
    
}

th.tot {
    text-align: left;
    
}


tbody {
    background-color: azure;
}


caption {
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    
}

th.tamanho{
    width: 40px;
}

